# Python
__pycache__/
.env
.venv/

# Docker
*.log

# ML / NLP models (IMPORTANT)
models/*.bin
*.bin

# Data
data/
celerybeat-schedule

# Frontend
services/frontend/node_modules/
services/frontend/dist/
services/frontend/.vite/
services/frontend/node_modules
